.ion-color-purple {
    --ion-color-base: #6c1bb8;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #49038a;
    --ion-color-tint: #5b00b1;
  } 
